.home main{
    background-color: var(--colorGrisClaro);
}
.box-banner{
    display: none;
}
.home main h2{
    text-align: center;
    color: var(--colorGrisOscuro);
    font-size: var(--titular);
    
}

.home .info p{
    font-size: var(--precios);
}

.home .info span{
    font-size: var(--descuentosYDescripciones);
    color: var(--colorVerde);
}

.home .info h3{
    font-size: var(--precios);
    color: var(--colorGrisOscuro);
    display: none;
    margin-top: 15px;
}

.home main section{
    width: 90%;
    margin: 0px auto;
    padding: 20px 0;;
}
.producto img{
    width: 100%;
}

.home main section article{
    background-color: white;
    margin: 10px 0;
}

 .info{
    padding: 15px;
    border: 1px solid #ebebeb;
    position: relative;
}

.camion{
    color: var(--colorVerde);
    padding: 20px;
    border: 1px solid var(--colorVerde);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 20px;
    top: -20px;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
@media (min-width:768px){
    .home main section article{
        box-shadow: 0 0 10px rgb(100 , 100 ,100);
    }
.home .info h3{
        display: block;
    }
    .box-banner{
        display: block;
    }
    .box-banner img{
        width: 100%;
    }
    .ultima-visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   .h2-visita{
        margin-top: 20px;
    margin-right: 618px;
    }

    .ultima-visita article{
        width:45%;
        margin-bottom: 40px;
        background-color: white;
    }
    .ofertas{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ofertas article{
        width: 45%;
        margin-bottom: 40px;
        background-color: white;
    }
    .h2-off{
        margin: -10px 570px -13px 0px;
    }
    
      
}
@media (min-width:1024px){
    .box-home{
        display: flex;
    }
    .ultima-visita{
        flex-wrap: nowrap;
    }
    .ofertas{
        flex-wrap: nowrap;
    }
    .ultima-visita article{
        width: 23%;
    }
    .ofertas article{
        width: 23%;
    }
    .h2-off {
        margin: -10px 784px -13px 0px;
    }
}